.App{
    background: #512da8; /* Old browsers */
    background: -moz-linear-gradient(top, #512da8 0%, #2989d8 100%, #207cca 100%, #6099c6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #512da8 0%,#2989d8 100%,#207cca 100%,#6099c6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #512da8 0%,#2989d8 100%,#207cca 100%,#6099c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#512da8', endColorstr='#6099c6',GradientType=0 ); /* IE6-9 */
}

.row-header {
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 0px auto;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer {
    color: lightgrey;
    background-color: #2987d7;
    margin:0px auto;
    padding-top: 10px;
}

.navbar-dark {
    background-color: #512DA8;
}

.navbar-brand {
    padding-right: 30px;
}

.fa-search {
    padding: 10px;
}

.fa-gamepad {
    padding: 10px;
}

a {
    color: #da9e52;
}

.react-datepicker-wrapper {
    margin: 13px 5px;
}

.card {
    background-color: #01048a!important;
    height: 100%;
}

.detailCategory{
    color: white;
}

.detail{
    color: white;
}

.cardTotal {
    margin-left: auto;
    padding: 13px;
    color: grey;
}

.questionBoard {
    padding: 25px;
}

.questionTile {
    padding: 5px;
}

.questionCard {
    margin-bottom: 10px;
}

.questionCategory {
    font-size:  2vw;
    color: white;
    text-align: center;
    padding: 5px 10px;
}

.question {
    font-weight: bold;
    font-size: 2vw;
    padding: 5px;
}

.playBoard {
    background-color: black;
    padding: 25px;
}

.playTile {
    padding: 5px;
}

.categoryBar {
    padding-bottom: 20px;
}

.playCategory {
    font-size: 2vw;
    color: white;
    padding: 5px;
}

.playValue { 
    font-size: 3.9vw;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.dropdown {
    margin: 10px;
}

.moreButton {
    margin-top: 10px;
}