.App{
    background: #512da8; /* Old browsers */
    background: -moz-linear-gradient(top, #512da8 0%, #2989d8 100%, #207cca 100%, #6099c6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #512da8 0%,#2989d8 100%,#207cca 100%,#6099c6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #512da8 0%,#2989d8 100%,#207cca 100%,#6099c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#512da8', endColorstr='#6099c6',GradientType=0 ); /* IE6-9 */
}

.row-header {
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 0px auto;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer {
    color: lightgray;
    background-color: #2987d7;
    margin:0px auto;
    padding-top: 10px;
}

.navbar-dark {
    background-color: #512DA8;
}

.navbar-brand {
    padding-right: 30px;
}

.fa-search {
    padding: 10px;
}

.fa-gamepad {
    padding: 10px;
}

.logo {
    height: 30px;
}

a {
    color: #da9e52;
}
a:hover {
    text-decoration: none;
  }

.react-datepicker-wrapper {
    margin: 10px 5px;
}

.filterBtn {
    height: 38px;
    background: #2987d7;
    text-transform: capitalize;
}

.searchBtn {
    padding: 0px 40px;
    margin: 10px 10px;
    background: #2987d7;
    font-weight: bold;
}

.startDatePicker, .endDatePicker {
    border: 4px #512DA8;
    padding: 5px;
    border-radius: 4px;
    background: white;
}

.card {
    height: 100%;
}

.detailCategory{
    padding-top: 65px;
    color: #01048a;
    text-align: center;
}

.detail{
    color: #2987d7;
}

.cardTotal {
    margin-left: auto;
    padding: 13px;
    color: white;
}

.questionBoard, .playBoard {
    padding-top: 70px;
    padding-left: 25px;
    padding-right: 25px;
}

.questionTile {
    padding: 5px;
}

.questionCard {
    margin-bottom: 10px;
}

.questionCategory {
    font-size:  2vw;
    color: #01048a;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: capitalize;
}

.question {
    font-size: 2vw;
    padding: 5px;
}

.playTile {
    padding: 5px;
}

.categoryBar {
    padding-bottom: 20px;
}

.playCategory {
    font-size: 2vw;
    color: #01048a;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
}

.playValue { 
    font-size: 3.9vw;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

.dropdown {
    margin-top: 200px;
    margin: 10px;
}

.moreButton {
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    color: white;
    background-color: #512da8;
    border-color: #512da8;
}